@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        align-content: space-around;
        padding: 0%;
    }

    #text-input {
        display: none;
        max-height: 50%;
        min-width: 90%;
    }

    #illustration {
        display: none;
    }
    

    #text-output {
        min-width: 80%;
        justify-self: center;
        flex-direction: column;
        max-width: 100vw;   
    }

    .default-message {
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }

    #buttons-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    button { 
        width: 100vw;
        font-size: larger;
    }

    #text-output > button {
        margin-top: 50px;
    }
    
    #icon {
        position: absolute;
        left: 4.27%;
        padding-top: 5px;
        min-width: 6%;
    }

    textarea {
        margin-top: 20px;
        resize: none;
    }

    
}


#icon {
 width: 4%;
 align-self: flex-start;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 90% 10%;
    background-color: #F3F5FC;
}

main {
   display: flex;
   padding: 2%;

}

section{
    padding: 5%;
}

#text-input {
    width: 70%;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    gap: 5%;
    
}

#text-output {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 24px 32px -8px #00000014;

}

.default-message {

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    gap:20px;
}

button {
    padding: 10px;
    width: 100%;
    min-width: fit-content;
    border-radius: 15px;
    font-size: larger
}

#encrypt-button {
    background-color: #0A3871;
    color: white;
    border: 1px solid #0A3871;
}


#decrypt-button {
    border: 1px solid #0A3871;
    background-color: #F3F5FC;;
    color: #0A3871;
}

textarea {
    resize: none;
    border: 0;
    color: #0A3871;
    font-size: xx-large;
    background-color:  #F3F5FC;
}

::placeholder {
    color:darkblue;
}

span {
    align-self: center;
}

textarea, #buttons-container, span {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #0A3871;
    color: white;
}

.invisible {
    display: none;
}

#copy-button {
    align-self: center;
    width: 90%;
    border: 1px solid #0A3871;
    margin-bottom: 5px;
    background-color: white;
    color: #0A3871;
}

.message {
    word-wrap: break-word;
    font-size: large;
    text-align: left;

}

button:hover {
    transform: scale(1.01);
    border: 3px solid #0A3871;
}

textarea:focus, input:focus{
        outline: none;
    }